# ABE 516x final project

In [10]:
import pandas as pd
import numpy as np
import seaborn as sns

## Part 1) Gathering data

In [19]:
# Import nutrient and flow data
data = pd.read_excel('BHL_data.xlsx', sheet_name='Data_by_sub')
data = data.rename(columns={'Sample date': 'Date', 'Flow (cms)':'Flow', 'DRP (mg P/L)':'DRP', 'TP (mg P/L)':'TP', 
                            'TSS (mg/L)':'TSS', 'Nitrate (mg/L)':'NOx', 'TN (mg/L)':'TN'})
data.head()

    Site       Date Sample type    Flow    DRP     TP       TSS      NOx    TN
0  Sub11 2015-03-20        Base  0.0060  0.020  0.025  1.692308  50.9792  41.6
1  Sub11 2015-03-27        Base  0.0060  0.020  0.014  0.500000  48.7837  40.8
2  Sub11 2015-04-03        Base  0.0240  0.001  0.015  1.231527  45.4211  42.8
3  Sub11 2015-04-11        Base  0.0245  0.012  0.029  7.540395  46.5769  43.0
4  Sub11 2015-04-17        Base  0.0250  0.001  0.016  1.691729  48.2718  43.0

[See weather scrapping code here](Weather_scrapping.ipynb)

In [17]:
# exporting daily weather data csv file

weather_data = pd.read_csv('BHL_weather_data.csv')
weather_data.head()

         Date  precipMM   tempC
0  2015-01-01       0.0  -7.375
1  2015-01-02       0.0  -5.875
2  2015-01-03       0.0  -4.875
3  2015-01-04       1.3 -17.375
4  2015-01-05       0.3 -14.625

## Part 2: Preliminary analysis

In [15]:
# Split nutrient/flow dataset by site
data_11 = data[data['Site'] == 'Sub11']
data_12 = data[data['Site'] == 'Sub12']

In [20]:
# Time series plots

list_of_analytes = ['DRP', 'TP', 'TSS', 'NOx', 'TN']

for x in list_of_analytes:
    print(x)

DRP
TP
TSS
NOx
TN

In [9]:
# descriptive analysis
from scipy import stats

# calculate mean concentration of each catchment